<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" id="form" name="form" action="/index.php/Qwadmin/Group/update.html" method="post">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-10">
                                    上级菜单 </label>
                                <input name="id" value="" type="hidden">
                                <div class="col-sm-9">
                                    <select id="pid" name="pid" class="rcol-xs-10 col-sm-5">
                                        <option value="0" selected="selected">顶级菜单</option>
                                        <option value="66">wed</option>
                                        <option value="67">&nbsp;&nbsp;┗━联盟列表</option><option value="68">&nbsp;&nbsp;┗━添加联盟</option><option value="69">&nbsp;&nbsp;┗━修改联盟</option><option value="70">&nbsp;&nbsp;┗━广告列表</option><option value="71">&nbsp;&nbsp;┗━网站列表</option><option value="72">&nbsp;&nbsp;┗━修改网站</option><option value="73">&nbsp;&nbsp;┗━添加网站</option><option value="74">&nbsp;&nbsp;┗━添加广告</option><option value="75">&nbsp;&nbsp;┗━添加网站权限</option><option value="1">控制台</option>
                                        <option value="2">系统设置</option>
                                        <option value="58">&nbsp;&nbsp;┗━自定义变量</option><option value="3">&nbsp;&nbsp;┗━网站设置</option><option value="4">&nbsp;&nbsp;┗━后台菜单</option><option value="5">&nbsp;&nbsp;┗━新增菜单</option><option value="7">&nbsp;&nbsp;┗━保存菜单</option><option value="8">&nbsp;&nbsp;┗━删除菜单</option><option value="9">&nbsp;&nbsp;┗━数据库备份</option><option value="11">&nbsp;&nbsp;┗━在线升级</option><option value="12">&nbsp;&nbsp;┗━开发日志</option><option value="13">用户及组</option>
                                        <option value="14">&nbsp;&nbsp;┗━用户管理</option><option value="15">&nbsp;&nbsp;┗━新增用户</option><option value="16">&nbsp;&nbsp;┗━编辑用户</option><option value="17">&nbsp;&nbsp;┗━保存用户</option><option value="18">&nbsp;&nbsp;┗━删除用户</option><option value="19">&nbsp;&nbsp;┗━用户组管理</option><option value="20">&nbsp;&nbsp;┗━新增用户组</option><option value="21">&nbsp;&nbsp;┗━编辑用户组</option><option value="22">&nbsp;&nbsp;┗━保存用户组</option><option value="23">&nbsp;&nbsp;┗━删除用户组</option><option value="24">网站内容</option>
                                        <option value="25">&nbsp;&nbsp;┗━文章管理</option><option value="26">&nbsp;&nbsp;┗━新增文章</option><option value="27">&nbsp;&nbsp;┗━编辑文章</option><option value="29">&nbsp;&nbsp;┗━保存文章</option><option value="30">&nbsp;&nbsp;┗━删除文章</option><option value="31">&nbsp;&nbsp;┗━分类管理</option><option value="32">&nbsp;&nbsp;┗━新增分类</option><option value="33">&nbsp;&nbsp;┗━编辑分类</option><option value="34">&nbsp;&nbsp;┗━保存分类</option><option value="36">&nbsp;&nbsp;┗━删除分类</option><option value="37">其它功能</option>
                                        <option value="38">&nbsp;&nbsp;┗━友情链接</option><option value="39">&nbsp;&nbsp;┗━增加链接</option><option value="40">&nbsp;&nbsp;┗━编辑链接</option><option value="41">&nbsp;&nbsp;┗━保存链接</option><option value="42">&nbsp;&nbsp;┗━删除链接</option><option value="43">&nbsp;&nbsp;┗━焦点图</option><option value="44">&nbsp;&nbsp;┗━新增焦点图</option><option value="45">&nbsp;&nbsp;┗━保存焦点图</option><option value="46">&nbsp;&nbsp;┗━编辑焦点图</option><option value="47">&nbsp;&nbsp;┗━删除焦点图</option><option value="63">&nbsp;&nbsp;┗━用户反馈</option><option value="48">个人中心</option>
                                        <option value="49">&nbsp;&nbsp;┗━个人资料</option><option value="50">&nbsp;&nbsp;┗━退出</option><option value="55">&nbsp;&nbsp;┗━资料保存</option>                                    </select>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div><!--
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 是否启用 </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="status" id="status" class="ace ace-switch ace-switch-2" type="checkbox">
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">YES，启用；NO，禁用</span>
										</span>
                            </div>-->
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    权限选择 </label>
                                <div class="col-sm-9">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="widget-box">
                                                <div class="widget-header">
                                                    <h4 class="widget-title">
                                                        <label>
                                                            <input name="rules[]" class="ace ace-checkbox-2 father" type="checkbox" value="66">
                                                            <span class="lbl"> 网站名</span>
                                                        </label>
                                                    </h4>
                                                    <div class="widget-toolbar">
                                                        <a href="#" data-action="collapse">
                                                            <i class="ace-icon fa fa-chevron-up"></i>
                                                        </a>                                                            </div>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="widget-main row">
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="75">
                                                            <span class="lbl"> 添加网站权限</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="74">
                                                            <span class="lbl"> 添加广告</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="73">
                                                            <span class="lbl"> 添加网站</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="72">
                                                            <span class="lbl"> 修改网站</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="71">
                                                            <span class="lbl"> 网站列表</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="70">
                                                            <span class="lbl"> 广告列表</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="69">
                                                            <span class="lbl"> 修改联盟</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="68">
                                                            <span class="lbl"> 添加联盟</span>
                                                        </label>
                                                        <label class="col-xs-2" style="width:160px;">
                                                            <input name="rules[]" class="ace ace-checkbox-2 children" type="checkbox" value="67">
                                                            <span class="lbl"> 联盟列表</span>
                                                        </label>
                                                    </div>
                                                </div>                                                    </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<script src="__PUBLIC__/qwadmin/js/bootbox.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(".children").click(function () {
        $(this).parent().parent().parent().parent().find(".father").prop("checked", true);
    })
    $(".father").click(function () {
        if (this.checked) {
            $(this).parent().parent().parent().parent().find(".children").prop("checked", true);
        } else {
            $(this).parent().parent().parent().parent().find(".children").prop("checked", false);
        }
    })
    $(".submit").click(function () {
        var title = $("#title").val();
        if (title == '') {
            bootbox.dialog({
                message: "用户组名称不能为空。",
                buttons: {
                    "success": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
            return;
        }
        $('#form').submit();

    })
</script>
</body>
</html>
